.container
  .ui-group
    .sort-by.button-group#sorts
      Sort  &nbsp;&nbsp;
      %button.button{"data-sort-by" => "name"}
        %span.glyphicon.glyphicon-sort-by-alphabet
      %button.button{"data-sort-by" => "points", "data-sort" => "desc"} actions
.container
  #spinner
  #actors
:javascript
  $(document).ready(function() {
    $.loadActors();
  });