!!!
%html
  %head
    %title HackatonApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %script{:src => "http://d3js.org/d3.v3.min.js", :type => "text/javascript"}
    %script{:src => "http://d3js.org/topojson.v1.min.js", :type => "text/javascript"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:name=>"viewport", :content => "width=device-width, initial-scale=1"}

    = yield :scripts
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    .container
      = yield